<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/reg.css' %}" />
    <title>BFB</title>
  </head>
  <body>
    <div id="container">
      <header>Register new account</header>
      <form action="{% url 'FoodBank:register' %}" method="POST">
        {% csrf_token %}
        <fieldset>
          <br />
          <input
            type="text"
            name="username"
            id="username"
            placeholder="Username"
            autocomplete="off"
            required
            autofocus
          />
          <br /><br />
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Password"
            required
          />
          <br /><br />
          <input
            type="email"
            name="email"
            id="email"
            placeholder="E-mail"
            autocomplete="off"
            required
          />
          <br /><br />
          <input
            type="phone"
            name="phone"
            id="phone"
            placeholder="Phone number"
            autocomplete="off"
            required
          />
          <br />
          <br />
          <input
            type="pan"
            name="pan"
            id="pan"
            placeholder="PAN"
            autocomplete="off"
            required
          />
          <br />
          <br />
          <label for="submit"></label>
          <input type="submit" name="submit" id="submit" value="REGISTER" />
        </fieldset>
      </form>
    </div>
  </body>
</html>
